body{
    background-color: rgb(255, 188, 43);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

div{
    width: 900px;
    height: 100vh;
    max-width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin-bottom: 48px;
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    color: #000;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 4px 6px #000;
}


form{
    margin: 0 auto;
    display: flex;
    gap: 10%;
    align-items: center;
}

input, select{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    width: 40%;
    background-color: rgb(169, 93, 255);
    padding: 8px;
    border-radius: 6px;
    border: rgb(0, 0, 0) solid 2px;
    box-shadow: 5px 8px #000;
    color: rgb(247, 247, 247);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}


h2{
    margin-top: 40px;
    font-size: 48px;
    font-weight: 900;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 3px;
}

@media (max-width: 640px){
    h1{
        -webkit-text-stroke-width: 2px;
        font-size: 40px;
    }
    h2{
        font-size: 40px;
    }
    form{
        flex-direction: column;
    }
    select{
        margin: 16px 0;
    }
    input{
        width: 80%;
    }
}

@media (max-width: 400px){
    h1{
        -webkit-text-stroke-width: 2px;
        font-size: 36px;
    }
    h2{
        font-size: 36px;
    }
}